
<header>
    <p-toolbar styleClass="toolBar">
        <div class="p-toolbar-group-left">
            <img src="../../assets/character-grey.png" width="50">
        </div>
        <div class="p-toolbar-group-right">
          <p-menubar [model]="items" styleClass="menuBar"></p-menubar>
        </div>
      
      </p-toolbar>
      
</header>

<body class="main">
    <router-outlet></router-outlet>
</body>

<footer class="footer-basic">
    <div class="text-center social"><a href="https://www.linkedin.com/in/arthur-docquois"><i class="pi pi-linkedin" style="font-size:1.5rem"></i></a><a href="https://www.facebook.com/Mouvement-pour-les-Transitions-et-Formations-Citoyennes-TForC-IMT-106709288452502"><i class="pi pi-facebook" style="font-size:1.5rem"></i></a></div>
</footer>
